<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sMart</title>
    <!-- <link rel="shortcut icon" href="/static/img/computer.png" type="image/x-icon"> -->
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <link rel="stylesheet" href="/static/tailwind.css">
</head>

<body class="container bg-gradient-to-r from-blue-100 via-purple-100 to-pink-100">
    <header class="text-gray-600 bg-purple-100 border-b-2 shadow body-font">
        <div class="container flex flex-col flex-wrap items-center p-5 mx-auto md:flex-row">
            <a class="flex items-center mb-4 font-medium text-gray-900 title-font md:mb-0">
                <img src="/static/img/computer.png" class="w-12 h-12 mr-3 text-white">
                <span class="ml-3 text-2xl semibold">sMart</span>
            </a>
            <nav class="flex flex-wrap items-center justify-center text-base md:ml-auto">
                <a class="mr-5 hover:text-gray-900" href="#">Products</a>
                <a class="mr-5 hover:text-gray-900" href="./contact/">Contact</a>
                <a class="mr-5 hover:text-gray-900" href="./about-us/">About Us</a>
            </nav>
            <button onclick="window.open('/auth/sign-up', '_blank')"
                class="inline-flex items-center px-3 py-1 mt-4 text-base bg-gray-200 border rounded focus:outline-none hover:bg-gray-300 md:mt-0">
                Sign up
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
            </button>
        </div>
    </header>

    <section class="w-full text-gray-600 body-font" id="products">
        <div class="w-full px-5 py-24 mx-auto">
            <div class="flex flex-wrap justify-center -m-4">
                {% for product in products %}
                <div class="w-full m-3 bg-white border rounded-lg shadow lg:w-1/5 md:w-1/2 hover:shadow-lg">
                    <a class="relative block h-48 overflow-hidden rounded-t" href="product/{{ product['id'] }}">
                        <img alt="{{ product['name'] + ' by ' + product['brand'] }}" class="block object-cover object-center w-full h-full"
                            src="{{ product['image'] }}">
                    </a>
                    <div class="p-4">
                        <h3 class="mb-1 text-xs tracking-widest text-gray-500 title-font">{{ product['category'].upper() }}</h3>
                        <h2 class="text-lg font-medium text-gray-900 title-font">{{ product['name'] }}</h2>
                        <p class="mt-1">₹{{ product['price'] }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</body>

</html>