
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
    <link rel="stylesheet" href="/static/tailwind.css">
</head>

<body class="container overflow-hidden">
    <!-- component -->
    <div
        class="flex items-center justify-center w-screen h-screen p-4 bg-gradient-to-r from-blue-100 via-purple-100 to-pink-100">
        <div class="w-full px-10 py-6 bg-white sm:max-w-md rounded-xl">
            <div class="mb-12 text-2xl font-semibold text-center sm:text-3xl text-sky-600">
                Sign in
            </div>
            <div>
                <div>
                    <input type="text"
                        class="w-full pb-2 placeholder-gray-500 border-b focus:outline-none border-sky-400"
                        placeholder="Name" />
                </div><br><br>
                
                <div>
                    <input type="password"
                        class="w-full pb-2 mb-8 placeholder-gray-500 border-b focus:outline-none border-sky-400"
                        placeholder="Password" />
                </div>
                
                <div class="flex justify-center my-6">
                    <a href="#_"
                        class="relative inline-flex items-center justify-start px-6 py-3 overflow-hidden font-medium transition-all bg-green-500 rounded-xl group">
                        <span
                            class="absolute top-0 right-0 inline-block w-4 h-4 transition-all duration-500 ease-in-out bg-green-700 rounded group-hover:-mr-4 group-hover:-mt-4">
                            <span
                                class="absolute top-0 right-0 w-5 h-5 rotate-45 translate-x-1/2 -translate-y-1/2 bg-white"></span>
                        </span>
                        <span
                            class="relative w-full text-left text-white transition-colors duration-200 ease-in-out group-hover:text-white">
                            Log in
                        </span>
                    </a>
                </div>        
            </div>
            <div class="flex justify-center ">
                <p class="text-gray-500">Don't have an account?</p>
                <a href="/auth/sign-up" class="pl-2 underline text-sky-600">Sign up</a>
            </div>
        </div>
    </div>
</body>
</html>